* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;

  .container {
    width: 300px;
    height: 510px;
    box-shadow: 0px 1px 3px #00000033;
    text-align: center;

    .header {
      background-color: #F5F5F5;
      height: 210px;
      border-radius: 0 0 125px 125px;
      padding: 12px 25px 0;

      &.yellow {
        background-color: #ffcc00;
      }

      &.blue {
        background-color: #007BC1;
      }

      &.orange {
        background-color: #fc6c47;
      }

      .paragraph {
        height: 49px;
        margin-top: 30px;
        font: normal normal bold 16px/21px Red Hat Display;
        letter-spacing: 0px;
        color: #0A2C48;
        text-transform: uppercase;
        opacity: 1;
      }
    }

    .form-container {
      padding: 29px 25px 36px;

      .select-container {
        .select-item {
          // .MuiInputLabel-formControl {
          //   font-size: 12px
          // }

          .MuiInputBase-input {
            height: 1.563rem;
            text-align: left;
            letter-spacing: 0.11px;
            color: #00000099;
            opacity: 1;
          }

          &:first-child {
            margin-bottom: 20px;
          }

          &:last-child {
            margin-top: 20px;
          }

          .select {
            width: 100%;
            // height: 42px;
            border-radius: 4px;
            background-color: #F5F5F5;

            &::after {
              right: 20px;
            }
          }
        }
      }

      .submit {
        margin-top: 33px;
        
        .btn {
          display: flex;
          justify-content: flex-start;
          height: 38px;
          width: 100%;
          background: #FFCC00 url("../../assets/baseline-arrow_forward-24px.png") 90% 50% no-repeat padding-box;
          box-shadow: 0px 1px 3px #00000033;
          border: none;
          border-radius: 20px;
          letter-spacing: 1.34px;
          color: #000000;
          opacity: 1;
          text-align: left;
          padding-left: 31px;
          font: normal normal normal 15px/20px Roboto;

          &.yellow {
            background-color: #ffcc00;
          }
  
          &.blue {
            background-color: #007BC1;
          }
  
          &.orange {
            background-color: #fc6c47;
          }

          &.Mui-disabled {
            color: rgba(0, 0, 0, 0.26);
            box-shadow: none;
            background-color: rgba(0, 0, 0, 0.12);
          }
        }
      }
    }
  }

  .color-switcher {
    text-align: center;
    margin-top: 20px;

    .btn-container {
      width: 300px;
      display: flex;
      justify-content: space-around;
      padding: 12px 0;

      .button {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: none;
        cursor: pointer;

        &.yellow {
          background-color: #ffcc00;
        }

        &.blue {
          background-color: #007BC1;
        }

        &.orange {
          background-color: #fc6c47;
        }
      }
    }
  }
}